<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042540631912-538l8gg28bjkhjn9mr3o55gev0edsuq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042540631912-538l8gg28bjkhjn9mr3o55gev0edsuq2</string>
	<key>API_KEY</key>
	<string>AIzaSyA0IUPWZcYTPT23YLxkhxvZPYGyMZq3USc</string>
	<key>GCM_SENDER_ID</key>
	<string>1042540631912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gastosApp</string>
	<key>PROJECT_ID</key>
	<string>gastos-app-33002</string>
	<key>STORAGE_BUCKET</key>
	<string>gastos-app-33002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042540631912:ios:1f7d50c7031a0cc6e928dd</string>
</dict>
</plist>